= form_for @source, html: { class: 'form form-horizontal source' } do |f|

  .form-group
    = f.label :link, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :link, class: 'form-control', required: true
    = f.error_span(:link)

  .form-group
    = f.label :media_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :media_id, class: 'form-control', required: true
    = f.error_span(:media_id)

  .form-group
    = f.label :season, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :season, class: 'form-control', required: true
    = f.error_span(:season)

  .form-group
    = f.label :eposode, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :eposode, class: 'form-control', required: true
    = f.error_span(:eposode)

  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'cancel', sources_path, class: 'btn btn-default'
