.page-header
  %h1 Synonym

%table.table.table-striped
  %thead
    %tr
      %th id
      %th name
      %th media_id
      %th created_at
      %th actions

  %tbody
    - @synonyms.each do |synonym|
      %tr
        %td= link_to synonym.id, synonym_path(synonym)
        %td= synonym.name
        %td= synonym.media_id
        %td=l synonym.created_at
        %td
          = link_to 'edit',    edit_synonym_path(synonym), class: 'btn btn-default btn-xs'
          = link_to 'destroy', synonym_path(synonym),      class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'new', new_synonym_path, class: 'btn btn-primary'
