- if devise_mapping.omniauthable?
  .social_auth
    %a.fb_auth{href: "#{user_omniauth_authorize_path(:facebook)}"}
      = image_tag 'facebook-icon'
    %a.vk_auth{href: "#{user_omniauth_authorize_path(:vkontakte)}"}
      = image_tag 'vkontakte-icon'
    %a.tw_auth{href: "#{user_omniauth_authorize_path(:twitter)}"}
      = image_tag 'twitter-icon'
    %a.tw_auth{href: "#{user_omniauth_authorize_path(:google_oauth2)}"}
      = image_tag 'google-icon'