.login_from
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f|

    .form-group-white
      = f.label       :email, class: 'text-white'
      = f.email_field :email, autofocus: true, class: 'form-control text-white'

    .form-group-white
      = f.label          :password, class: 'text-white'
      = f.password_field :password, autocomplete: 'off', class: 'form-control text-white'

    - if devise_mapping.rememberable?
      .checkbox
        = f.label :remember_me, class: 'text-white' do
          = f.check_box_tag :remember_me, type: 'checkbox'
          remember me

    = f.submit t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-raised'
    = render 'devise/shared/links'
