.content
  
  %h2 Log in
  
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
  
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'form-control'
    
    %br/
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    
    %br/
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    
    %br/
    .actions.row
      .col-lg-2
        = f.submit "Log in", class: 'btn btn-lg btn-success'
      .col-lg-5{style: 'text-align: right'}
        %h2 And also you can login via: 
        %span
          #{'...'} if you have registered email :)
      .col-lg-5
        = render "devise/sessions/social_oauth"
  
  %br/
  = render "devise/shared/links"
