.thumbnail.for_media.pull-left{id: movie.id.to_s, page: params[:page]}

  %h5.thumbnail_header.text-white.pull-left
    = (movie.name.size > 15 ? "#{movie.name[0..14]}..." : movie.name)

  .thumbnail_body
    = image_tag movie.picture_path, alt: movie.name, class: 'picture'
    = render partial: 'media/actions', locals: {media: movie}
  %h6.thumbnail_footer.text-white
    %span.pull-right= movie.sources.last.released ? 'Released' : 'Soon'
