.thumbnail.for_media.pull-left{id: subscription.id.to_s}

  %h5.thumbnail_header.text-white.pull-left
    = (subscription.name.size > 15 ? "#{subscription.name[0..14]}..." : subscription.name)

  .thumbnail_body
    = image_tag "#{subscription.type}/#{subscription.picture}", alt: subscription.name, class: 'picture'
    .contenthover
      - if current_user.subscribed?(subscription.id)
        %p UNSUBSCRIBE
        %p
          %span.glyphicon.glyphicon-ok-circle.hidden.subscribe
          %span.glyphicon.glyphicon-remove-circle.unsubscribe
      - else
        %p SUBSCRIBE
        %p
          %span.glyphicon.glyphicon-ok-circle.subscribe
          %span.glyphicon.glyphicon-remove-circle.hidden.unsubscribe

  %h6.thumbnail_footer.text-white
    %span.pull-right
      - if subscription.movie?
        = subscription.sources.last.released ? 'Released' : 'Soon'                        
      - else
        = "s #{subscription.sources.last.season} e #{subscription.sources.last.episode}"