- @media.in_groups_of(6).each do |group|
  .row
    - group.compact.each do |media|
      .col-md-2.col-lg-2
        .thumbnail
          %img{alt: media.name, src: 'http://img.dotua.org/fsua_items/cover/00/41/28/2/00412877.jpg'}
          .caption
            %h3= link_to media.name, media_path(media)
            %p= media.type
            %p
              = link_to 'edit',    edit_media_path(media), class: 'btn btn-default btn-xs'
              = link_to 'destroy', media_path(media),      class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'new', new_media_path, class: 'btn btn-primary'


