.page-header
  %h1 Media

%table.table.table-striped
  %thead
    %tr
      %th id
      %th type
      %th name
      %th created_at
      %th actions

  %tbody
    - @media.each do |media|
      %tr
        %td= link_to media.id, media_path(media)
        %td= media.type
        %td= media.name
        %td=l media.created_at
        %td
          = link_to 'edit',    edit_media_path(media), class: 'btn btn-default btn-xs'
          = link_to 'destroy', media_path(media),      class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'new', new_media_path, class: 'btn btn-primary'
