!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %title= content_for?(:title) ? yield(:title) : 'Movieman'

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png',   rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png',         rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag 'favicon.ico',                              rel: 'shortcut icon'

  %body

    .container
      .row
        .sidebar.hidden-xs.hidden-sm.col-md-3.col-lg-3

          = image_tag 'logo.png', class: 'logo center-block'
          = render partial: 'layouts/notifications' if user_signed_in?

        .clo-xs-12.col-sm-12.col-md-offset-3.col-md-9.col-lg-offset-3.col-lg-9

          = growlyflash_static_notices
          = yield

    = javascript_include_tag 'application'
